{{ define "main" }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        <h1 class="article-title">Meet the Team</h1>

        {{ $paginator := .Paginate (where .Data.Pages "Section" "==" "authors") }}
        <div>{{ range $paginator.Pages }}
          <div class="listItem">
            <a class="itemImage project" href="{{ .RelPermalink }}" style="background-image: url({{ .Param "photo"}}); border-radius: 50%;"></a>
            <div class="itemDetails">
              <div class="itemHeader">
                <div class="itemTitle"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a></div>
                <div class="itemTag">
                  {{- range .Params.categories -}}
                  <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
                  {{ end -}}
                </div>
              </div>
              <div class="itemMeta">
                <div class="itemDescription">{{ default .Description | markdownify }}
                {{ with .Params.twitter }}<div class="itemLink"><a href="https://twitter.com/{{ . }}" target="_blank">@{{ . }}</a></div>{{ end }}
                {{ with .Params.github }}<div class="itemLink"><a href="https://github.com/{{ . }}" target="_blank">{{ . }}</a></div>{{ end }}
                {{ with .Params.website }}<div class="itemLink"><a href="{{ . }}" target="_blank">{{ . }}</a></div>{{  end }}
                <a class="readMore" href="{{ .RelPermalink }}">Read more about {{ with .Params.name }}{{ index (split . " ") 0 }}{{ end }}...</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}</div>
      {{ template "_internal/pagination.html" . }}
      </div>

      <div class="column25">
        <div class="section">
          <div class="sectionTitle">Categories</div>
          {{ range $key, $value := .Site.Taxonomies.categories }}
          <div class="articleCategory {{ replace (lower $key) " " "" }}">
            <a href="{{ (print "/categories/" $key | urlize) | relURL }}">{{ $key }}</a>
          </div>
          {{ end }}
        </div>

        <div class="section">
          <div class="sectionTitle">Upcoming events</div>
          {{ partial "events" . }}
        </div>
      </div>
    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}

