body, button, input, textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

#homeContent .band .blurb {
    font-weight: 300;
    display: inline-block;
    min-height: 160px;
    font-size: 20px;
    line-height: 40px;
    max-width: 48%; }

#homeContent .band .blurb .tagline {
      font-size: 36px;
      margin-bottom: 16px; }

#homeContent .band .blurb .tagline.small {
        margin-top: 62px;
        line-height: 30px;
        font-size: 24px; }

#homeContent .band.first {
    height: 690px;
    background-color: #f5f4f2;
}

#homeContent .band.first .bandContent {
      padding-top: 220px;
      height: 100%;
      background-image: url(../images/flowers.png);
      background-repeat: no-repeat;
      background-size: 644px 459px;
      background-position: 0% 55%;}

#homeContent .band.first {
    height: 690px;
    background-color: #f5f4f2;
}

.article-content {
  padding-bottom: 2em;
}

.article-content-learn, .article-content-teach {
  padding-bottom: 2em;
  border-bottom: .5em solid #dae8f6;
}

.article-content-learn img, .article-content-teach img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.focal {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sectionTitle {
  padding-top: 1em;
}

.references {
  color: #787878;
}

details {
  color: #787878;
}

.mw-1200 {
  max-width: 1200px;
}

.btn-primary {
    background-color: #4D8DC9;
    color: #ffffff;
    border: 1px solid #4D8DC9;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
}

.btn-primary:hover, .btn-primary:active {
    background-color: transparent;
    border: 1px solid #4D8DC9;
    color: #4D8DC9;
    transition: background-color .15s ease-in-out;
    text-decoration: none;
}

#rStudioFooter .bandContent #logos .footerLogo.calendar {
  background-image: url(images/fa-calendar-alt.svg);
}

#rStudioFooter .bandContent #logos .footerLogo.community {
  background-image: url(images/fa-discourse.svg);
}

#rStudioFooter .bandContent #logos .footerLogo.team {
  background-image: url(images/fa-users.svg);
}

#rStudioFooter .bandContent #logos .footerLogo {
  height: 30px;
  margin: 0 5px;
}

.gt_table {
  max-width: 100%;
}


.gt_from_md p {
  line-height: 1em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.hline-top {
  padding-top: 2em;
  border-top: .5em solid #dae8f6;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

h1 code,
h2 code,
h3 code,
#TableOfContents ul li code{
  font-size: 0.9em;
}

.bandContent h3 {
  font-size: 1.4em;
}

.bandContent h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5pt;
}


