<table>
    <thead>
    <tr>
    <th>Event</th>
    <th>Date(s)</th>
    <th>Description</th>
    <th>Location</th>
    <th>Team Member(s)</th>
    </tr>
    </thead>
    <tbody>
      {{ range where $.Site.RegularPages "Section" "events" }}
        {{ if ge (time .Params.date_start).Unix now.Unix }}
          {{ $d_start := (time .Params.date_start).Format ("January 2") }}
          {{ $d_last := (time .Params.date_end).Format ("January 2, 2006") }}
      <tr>
        <td><a href="{{ .URL }}">{{ .Title | markdownify }}</a></td>
        <td>{{ $d_start }}{{if ne $d_start $d_last}} -<br>
                          {{ $d_last }}{{ end }}</td>
        <td>{{ with .Params.description }}{{ . | markdownify }}{{ end }}</td>
        <td>{{ with .Params.location }}{{ . | markdownify }}{{ end }}</td>
        <td>{{- range .Params.educators }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
              <a href="{{ .Permalink }}">
                {{ with .Params.name }}{{ index (split . " ") 0 }}{{ end }}
              </a>
            {{ end }}
            {{ end }}
        </td>
      </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
