      <div class="column25">

        <div class="section">
          <div class="sectionTitle"><a href="{{ printf "%s#paths" .Permalink }}"><i class="fas fa-map"></i>&nbsp;Choose your path</a>
          </div>
          {{ range .Pages.ByWeight }}
          <div class="articleCategory"><a href="{{ .Permalink }}"><strong>{{ .Params.title | humanize | title }}:</strong> {{ .Params.Subtitle }}</a></div>
          {{ end }}
          </div>

        <div class="section">
          <div class="sectionTitle"><a href="{{ "/events/" | relURL }}">Upcoming events</a></div>
          {{ partial "events_sticky" . }}
        </div>
      </div>
