      <div class="column25">

        <div class="section hideOnMobile">
          <div class="sectionTitle"><a href="{{ printf "%s#paths" .Permalink }}">Choose a path</a>
          </div>
          {{ range .Pages.ByWeight }}
          <div class="articleCategory programming"><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}: {{ .Params.Subtitle }}</a></div>
          {{ end }}
          </div>

        <div class="section">
          <div class="sectionTitle">Resources</div>
          {{ partial "resources_sticky" . }}
        </div>
      </div>
