{{ define "main" }}
<!-- page -->
<div id="homeContent" class="pushFooter">
  <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
  <!-- band_one.md populates this section -->
  {{ with .Site.GetPage "/home/band_one.md" }}
  <article class="vh-25 dt w-100" style="background-color: #f5f4f2">
    <div class="cf-ns mw-1200 center pv5">
      <div class="cf">
        <div class="fl-ns mw-4 w-100 w-40-ns pt5 pt6-ns v-top">
          <img class="w-80 w-90-ns" src="images/flowers2.png">
        </div>
        <div class="fl-ns mw-6 w-60-ns tl f4 fw3 pl4 pr4 pt0 pl5-ns v-lid">
          <h1 class="lh-title pt1 pt6-ns mt0 mt3-ns">{{ .Title }}</h1>
          <div class="lh-solid fw4">{{ .Content | markdownify }}</div>
        </div>
      </div>
    </div>
  </article>
  {{ end }}
  <div class="cf-ns mw-1200 center left-ns pv0 pt5-ns pl4 pr4 pl5-ns">
    <div class="cf">
      <div class="fl-ns w-40-ns v-top">
        <img class="w-60 w-90-ns" src="images/mtsalsa-526.jpg">
      </div>
      <div class="fl-ns mw-6 w-60-ns tl f4 fw3 pl4 pr4 pt0 v-lid">
        <h3 class="pb2 pt0 pt4-ns f5 fw6 mt0 mb4 bb bw1 tl ttu">
        For beginners
        </h3>
        <p class="f4 fw4 mt0 mb3">Choose your learning path</p>
        <p class="f5 lh-copy mb4 fw4">
        Most beginning R learners struggle to find a starting point. While no one starting point will serve all beginners, here are 6 ways to begin learning R.</p>
        <a href="/learn/beginner/" class="no-underline f5 tc db w-70 pv3 bg-animate btn-primary">Take me there</a>
      </div>
    </div>
  </div>
  <div class="flex-ns center mw-1200 mb6">
    <div class="w-100 w-33-ns pt3 ph4 mb0">
      <img src="images/forest-526.jpg" style="float: center" width="60%">
      <h3 class="pb2 pt4 f5 fw6 mt0 mb4 bb bw1 tl ttu">
      For learners
      </h3>
      <p class="f4 fw4 mt0 mb2 tl">
        Expand your knowledge
      </p>
      <p class="f5 fw4 lh-copy tl mb0">
        Dive deeper into our popular packages like tidyverse and Shiny, with resources for beginner, intermediate, and expert-level R learners.
      </p>
      <h3 class="f6 fw6 tl ttu">
      <a href = "/learn">Learn more</a>
      </h3>
    </div>
    <div class="w-100 w-33-ns pt3 ph4 mb0">
      <img src="images/toothpicks-526.jpg" style="float: center" width="60%">
      <h3 class="pb2 pt4 f5 fw6 mt0 mb4 bb bw1 tl ttu">
      For teachers
      </h3>
      <p class="f4 fw4 mt0 mb2 tl">
        Explore our resources
      </p>
      <p class="f5 fw4 lh-copy tl mb0">
        Use our materials and evidence-based teaching practices to teach data science using R and RStudio's products.
      </p>
      <h3 class="f6 fw6 tl ttu">
      <a href = "/teach">Learn more</a>
      </h3>
    </div>
    <div class="w-100 w-33-ns pt3 ph4 mb0">
      <img class="mb0" src="images/globe-526.jpg" style="float: center" width="60%">
      <h3 class="pb2 pt4 f5 fw6 mt0 mb4 bb bw1 tl ttu">
      For partners
      </h3>
      <p class="f4 fw4 mt0 mb2 tl">
        Train others
      </p>
      <p class="f5 fw4 lh-copy tl mb0">
        Find out about RStudio's instructor training and certification program, or find a certified instructor to work with.
      </p>
      <h3 class="f6 fw6 tl ttu">
      <a href = "/trainers" target="_blank">Learn more</a>
      </h3>
    </div>
  </div>
  </div> <!-- homeContent -->
  {{ end }}
