{{ define "main" }}

<!-- page -->
<div id="homeContent" class="pushFooter">

<!-- band_one.md populates this section -->
{{ with .Site.GetPage "/home/band_one.md" }}
  <div class="band first">
    <div class="bandContent">

<!-- hexes on the left -->
      <div class="hexBadges">
        {{ $col0 := .Params.col0 }}
        {{ with $col0 }}
        {{ with .row1 }}<a href="https://{{ . }}.tidyverse.org"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r1 c0"></a>{{ end }}
        {{ with .row2 }}<a href="https://{{ . }}.tidyverse.org"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r2 c0"></a>{{ end }}
        {{ with .row3 }}<a href="https://{{ . }}.tidyverse.org"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r3 c0"></a>{{ end }}
        {{ end }}
        {{ $col2 := .Params.col2 }}
        {{ with $col2 }}
        {{ with .row2 }}<a href="https://{{ . }}.tidyverse.org"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r2 c2"></a>{{ end }}
        {{ with .row3 }}<a href="https://{{ . }}.tidyverse.org"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r3 c2"></a>{{ end }}
        {{ with .row4 }}<a href="https://{{ . }}.tidyverse.rog"><img src="https://raw.githubusercontent.com/rstudio/hex-stickers/master/PNG/{{ . }}.png" alt="{{ . }} hex sticker" class="r4 c2" /></a>{{ end }}
        {{ end }}
      </div>

<!-- text on the right -->
      <div class="blurb">
        <div class="tagline">
          {{ .Title }}
          </div>
        <div>
          {{ .Content | markdownify }}
        </div>
      </div>

    </div> <!-- bandContent -->
  </div>  <!-- band -->
{{ end }}


{{ with .Site.GetPage "/home/band_four.md" }}

      <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

{{ end }}



<div class="flex items-center justify-center pa3 bg-lightest-blue navy">
    <div class="dt-ns dt--fixed-ns w-100">
      <div>
        <img src="images/beginner.jpg" style="border-radius:50%; float: right" width="50%"></img>
      </div>
      <div class="pa4 dtc-ns v-top">
        <div>
          <h3 class="f6 fw7 mt0 mb4 npm-light-red bb bw1 tl">
						FOR BEGINNERS
					</h3>
          <p class="f4 fw4 blue mt0 mb3">Choose your learning path</p>
          <p class="f5 black-70 measure lh-copy mb4">
Most beginning R learners struggle to find a starting point. RStudio recommends that you first ask yourself a few questions that will help you choose among self-taught, online, and in-person learning paths.          </p>
        <a href="learn/#beginner" class="no-underline f6 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2">TAKE ME THERE</a>

        </div>
      </div>
    </div>
</div>






			<div class="center flex flex-column flex-row-l justify-between ph3 ph4-l pv5 w-90">
				<div class="w-100 w-25-l ph4-l mb5 mb0-l">
					<img src="images/forest.jpg" style="border-radius:10%; float: center" width="100%">
					<h3 class="f6 fw7 mt0 mb4 npm-light-red bb bw1 tl">
						FOR LEARNERS
					</h3>
					<p class="f5 fw1 mt0 mb2 npm-light-red tl ttu tracked">
						Expand your knowledge
					</p>
					<p class="f6 lh-copy tl">
						Dive deeper into our popular packages like tidyverse and Shiny, as well as professional products like RStudio Team.
					</p>
					<h3 class="f6 fw7 mb4 npm-light-red tl v-btm">
						<a href = "learn">Learn more ></a>
					</h3>
				</div>
				<div class="w-100 w-25-l ph4-l mb5 mb0-l">
					<img src="images/toothpicks.png" style="border-radius:50%; float: center" width="80%">
					<h3 class="f6 fw7 mt0 mb4 npm-light-red bb bw1 tl">
						FOR TEACHERS
					</h3>
					<p class="f5 fw1 mt0 mb2 npm-light-red tl ttu tracked">
						Explore our resources
					</p>
					<p class="f6 lh-copy tl">
						Use our materials and evidence-based teaching practices to teach data science using R and RStudio's products.
					</p>
					<h3 class="f6 fw7 mb4 npm-light-red v-btm tl">
						<a href = "teach">Learn more ></a>
					</h3>
				</div>
				<div class="w-100 w-25-l ph4-l mb0">
					<img class="mb0" src="images/globe.jpg" style="border-radius:10%; float: center" width="70%">
					<h3 class="f6 fw7 mt0 mb4 npm-light-red bb bw1 tl">
						FOR PARTNERS
					</h3>
					<p class="f5 fw1 mt0 mb2 npm-light-red tl ttu tracked">
						Train others
					</p>
					<p class="f6 lh-copy tl">
            Find out about RStudio's instructor training and certification program.
					</p>
					<h3 class="f6 fw7 mb4 npm-light-red tl v-btm">
						<a href = "partner">Learn more ></a>
					</h3>
				</div>
			</div>


</div> <!-- homeContent -->

{{ end }}


