{{ define "main" }}


<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        <h1 class="article-title">{{ .Title | markdownify }}</h1>
        <p>
        {{ $focal := (.Resources.ByType "image").GetMatch "forest-750.jpg" }}
          {{ with $focal }}
            <img src="{{ .RelPermalink }}" class="focal"></i>
          {{ end }}
        {{ .Content }}
        </p>
        <div>{{ range .Pages.ByWeight }}
              {{ $post := . }}
          <div class="listItem">
             {{ $card := (.Resources.ByType "image").GetMatch "*thumbnail*" }}
             {{ with $card }}
              <a class="itemImage project" href="{{ $post.RelPermalink }}" style="background-image: url('{{ .RelPermalink }}');"></a>
              {{ end }}
            <div class="itemDetails" style="align-self: center;">
              <div class="itemHeader">

                <div class="itemTitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
              </div>
              <div class="itemMeta">
                <div class="itemDescription"><strong><em>{{ default .Params.abstract }}</strong></em>&nbsp;{{ default .Description | markdownify }}
                  <a class="readMore" href="{{ .RelPermalink }}">Read more ...</a>
                </div>
              </div>
            </div>
          </div>
        {{ end }}</div>
      {{ template "_internal/pagination.html" . }}
      </div>

{{ partial "learn_sidebar.html" . }}

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
