{{ define "main" }}

{{ $page := . }}
{{ $nextpage := $page.PrevInSection }}


<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">

      <h1 class="article-title">{{ .Title }}</h1>

      {{ $focal := (.Resources.ByType "image").GetMatch "*feature*" }}
          {{ with $focal }}
            <img src="{{ .RelPermalink }}" class="focal"></i>
      {{ end }}

      <div class="article-content-teach">
      {{ .Content }}
      </div>
      {{if .PrevInSection }}
      <p><i class="fas fa-hand-point-right"></i>&nbsp;&nbsp;Take me to: <a href="{{ .PrevInSection.Permalink }}">{{ lower .PrevInSection.Title }}</a>.</p>
      {{end}}
      {{if not .PrevInSection }}
        {{ with .Site.GetPage "section" "blog" }}
        <p><i class="fas fa-hiking"></i>&nbsp;&nbsp;Where to next? Catch us on our <a href="{{ .Permalink }}">blog...</a>
        </p>
        {{ end }}
      {{end}}

      {{ partial "disqus.html" .}}

      </div>

      <div class="column25">
        <div class="section hideOnMobile">
        <div class="listItem" style='padding-top: 1em;'>
        {{ with $nextpage }}
          {{ $thumb := (.Resources.ByType "image").GetMatch "thumb*.jpg" }}
          {{ with $thumb }}
            <a class="itemImage project" href="{{ $nextpage.RelPermalink }}" style="background-image: url('{{ .RelPermalink }}');">Go to: {{ $nextpage.Title }}</a>
          {{ end }}
        {{ end }}
        </div>
        </div>
        <div class="section">
          <div class="sectionTitle"><a href="{{ "/events/" | relURL }}">Upcoming events</a></div>
          {{ partial "events_sticky" . }}
        </div>
      </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
